<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>687096391900-t63pchmevidneh1kadraehjpfl0f4fp2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687096391900-t63pchmevidneh1kadraehjpfl0f4fp2</string>
	<key>API_KEY</key>
	<string>AIzaSyCNMMf2p8I9kR0K3B9R0YA-aLSN3Xw0mak</string>
	<key>GCM_SENDER_ID</key>
	<string>687096391900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HundredDays</string>
	<key>PROJECT_ID</key>
	<string>hundreddays-2796e</string>
	<key>STORAGE_BUCKET</key>
	<string>hundreddays-2796e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:687096391900:ios:f518bb64cb696191</string>
	<key>DATABASE_URL</key>
	<string>https://hundreddays-2796e.firebaseio.com</string>
</dict>
</plist>